body {

}

h1 {
  font-family: 'Rammetto One', cursive;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

h3 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

p {
  color: darkgray;
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

.image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Rammetto One', cursive;
  background-color: lightblue;
  box-shadow: 3px 3px 3px black;
}

.name {
  padding-top: 10px;
  text-align: center;
}

.main-nav {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  display: block;
}

.bottom-nav {
  display: none;
}

.main-footer {
  border-top: solid 1px lightgray;

}

.profile-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 15%;

}

.banner {
  background-color: lightgray;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.email {
  text-decoration: none;
  color: darkgray;
}

.footer-name {
  margin-left: 5px;
  float: left;
  color: black;
}

.footer-link {
  float: right;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

.top-link {
  margin-right: 5px;
}

/* ---- Layout Containers ---- */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* media queries */

@media (min-width: 768px) {

 .wrapper {
   width: 80%;
   margin: 0 auto;
 }

 .footer-name {
   margin-left: 1em;
 }

.name,
.main-nav li {
  display: inline-block;
  background-color: none;
  }

.main-nav li {
  margin-right: 12px;
}

  .bottom-nav {
    margin-top: 1em;
    display: inline-block;
    background-color: white;
    margin-right: 12px;
    float: right;
    display: inline-block;
  }

  .bottom-nav li {
    display: inline;
    margin-left: 1em;
  }

  .bottom-nav a {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    display: inline;
    font-family: 'Rammetto One', cursive;
  }


  .banner {
    float: right;
    margin-left: 1em;
    margin-top: 1em;
  }

  .container {
    width: 90%;
  }

  .col {
    display: inline-block;
    width: 45%;
    margin-right: -40px;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: top;
  }

.first,
  .third,
  .fifth {
    float: left;
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .second,
  .fourth,
  .sixth {
    float: right;
  }

  h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .top-link {
    display: none;
  }
}



@media (min-width: 1024px) {

  .name {
    float: left;
  }

  .main-header {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Rammetto One', cursive;
    background-color: lightblue;
    box-shadow: 3px 3px 3px black;
  }

  .main-nav {
    display: inline-block;
    float: right;
    margin-top: 2em;
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    width: 33%;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid red;
  }
}
