

body {

}

h1 {
  font-family: 'Rammetto One', cursive;
}

h2 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

h3 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

p {
  color: darkgray;
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

.image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Rammetto One', cursive;
}

.name {
  text-align: center;
}

.main-nav {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  margin-bottom: 5px;
  display: block;
}

.main-footer {
  border-top: solid 1px lightgray;

}

.profile-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 15%;

}

.banner {
  background-color: lightgray;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.email {
  text-decoration: none;
  color: darkgray;
}

.footer-name {
  float: left;
  color: black;
}

.footer-link {
  float: right;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

/* ---- Layout Containers ---- */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* media queries */

@media (min-width: 768px) {

body {
  width: 90%;
  margin: 0 auto;
}
.name,
.main-nav li {
  display: inline-block;
  background-color: white;
  }

.main-nav li {
  margin-right: 12px;
}


  .banner {
    float: right;
    margin-left: 1em;
    margin-top: 1em;
  }

  .container {
    width: 90%;
  }

  .col {
    display: inline-block;
    width: 50%;
    margin-right: -40px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
  }

.first,
  .third,
  .fifth {
    float: left;
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .second,
  .fourth,
  .sixth {
    float: right;
  }

  h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .contact {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}



@media (min-width: 1024px) {

  .name {
    float: left;
  }

  .main-nav {
    display: inline-block;
    float: right;
    margin-top: 2em;
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    width: 33%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
